@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Jim+Nightshade|Tinos:400,400i,700,700i');

html, body
{
	margin: 0;
	padding: 0;
	height: 100vh;
}

html,body,p,span,div
{
	cursor: default;
}

a,button
{
	cursor: pointer;	
}

body
{
    font-family: 'Tinos';
	/* Jim Nightshade - Headers */
	/* Cinzel - Buttons */
    font-size: 13px;
	background-color: #333;
	color: #EEE;
	user-select: none;
}

a[ng-click]
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

a i.fa
{
	color: #AEF;
}
a:hover i.fa
{
	text-decoration: none;
}

.full-center
{
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#home h1
{
	font-family: 'Jim Nightshade', cursive;
	font-size: 6vw;
	margin-bottom: 1vw;
	letter-spacing: 1vw;
}

.button
{
	font-family: 'Cinzel', serif;
	text-decoration: none;
	color: white;
	background-color: #555;
	font-size: 1vw;
	padding: 0.75vw 1.5vw;
	margin: 1vw;
	border: none;
}

.big.button
{
	font-size: 2vw;
}

#newCharacter h2
{
	margin-bottom: 0;
}

#newCharacter input[type=text]
{
	padding: 4px;
	width: 20vw;
	text-align: center;
	font-size: 2vw;
	font-family: 'Jim Nightshade', cursive;
}

#newCharacter .box
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
	background-color: #444;
	padding: 2vw;
}

#map
{
	display: flex;
	flex-flow: column nowrap;
	padding: 2vw;
	background-color: #e2ca85;
}

#map .row
{
	display: flex;
	flex-flow: row nowrap;
}

#map .row .cell > *
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
	
	width: 2vw;
	height: 2vw;
}

#map .row .cell .shroud
{
	background-color: #CCC;
}

#map .row .cell .current:before
{
	position: absolute;
	top: -12px;
	left: 0;
	font-size: 2rem;
	content: '•';
	color: #003399;
}

#mapContainer
{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.5);
}

#charInfo
{
	position: fixed;
	background-color: #777;
	top: 0;
	left: 0;
	line-height: 1;
	padding: 0.5vw 1vw;
	font-family: 'Jim Nightshade', cursive;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	z-index: 50;
}

#charInfo #name
{
	font-size: 3vw;
	padding-right: 1vw;
}

#charInfo #controls a
{
	display: inline-block;
	margin-right: 0.5vw;
}

#mapControls
{
	position: fixed;
	bottom: 1vw;
	left: calc(50vw - 23px);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#mapControls div a i.fa
{
	margin: 0 14px;
	color: rgba(255,255,255,1);
}

#mapControls div a.disabled i.fa
{
	cursor: default;
	pointer-events: none;
	margin: 0 14px;
	color: rgba(255,255,255,0.4);
}

#charSheet
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#charSheet div
{
	width: 40vw;
	padding: 2vw 6vh;
	color: #111;
	font-size: 1.5vw;
	line-height: 2.3vw;
	background-color: #e2ca85;

}

#admin
{
	position: fixed;
	top: 4vw;
	left: 0;
}