<div ng-controller="CharacterSheetController as csc">
    <h2>{{csc.Character.Name}}</h2>
    <p>Gender: {{csc.Vocab.ShortGenderMessage}}</p>
    <h3>Head</h3>
    <p>Hair Color: {{csc.Vocab.HairColor}}</p>
    <p>Hair Length: {{csc.Vocab.HairLength}}</p>
    <p>Eye Color: {{csc.Vocab.EyeColor}}</p>
    <p>Ear Type: <span ng-bind-html="csc.Vocab.EarType | md"></span></p>
    <p>Face Type: <span ng-bind-html="csc.Vocab.FaceType | md"></span></p>
    <p>Tongue: <span ng-bind-html="csc.Vocab.TongueLength | md"></span></p>
</div>