<div ng-controller="CharacterSheetController as csc">
    <h2>{{csc.Character.Name}}</h2>
    <p>{{csc.Vocab.ShortGenderMessage}}</p>
    <p>
        Inspecting your head, you find... {{csc.Vocab.HairLength}}
        Your hair is {{csc.Vocab.HairColor}}.
        You're not sure how, but you know your eyes are {{csc.Vocab.EyeColor}}.
        <span ng-bind-html="csc.Vocab.TongueLength | md"></span>
        <span ng-bind-html="csc.Vocab.EarType | md"></span>
        <span ng-bind-html="csc.Vocab.FaceType | md"></span>
    </p>
    <p>
        You look down at yourself.
        {{csc.Vocab.BodyType}}
        {{csc.Vocab.SkinColor}}
        You are {{csc.Vocab.Height}} tall.
        {{csc.Vocab.NumArms}}
        {{csc.Vocab.Breasts}}
        {{csc.Vocab.ButtSize}}
        {{csc.Vocab.Tail}}
    </p>
    <p>
        Looking further down, you inspect your crotch.
        <span ng-bind-html="csc.Vocab.Penis | md"></span>
        <span ng-bind-html="csc.Vocab.Vagina | md"></span>
    </p>
</div>